# Configurando a porta do servidor
PORT=3000
# Configurando o ambiente (dev, production, etc.)
NODE_ENV=dev
# Dados do banco de dados
DB_USER=administrator
DB_PASSWORD=Sist@GTF2025
DB_SERVER=sistema-gtf
DB_DATABASE=RelatorioAnomaliaEve
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_CERT=true