<%- include('../partials/header') %>
    <main>
        <h1>Fiscalização Everest</h1>
        <h2>Site ID: <%= <%# siteId %></h2>
        <h2>Data de inicio: <%= <%# dataInicio %></h2>
        <div><p>IMAGEM AQUI</p></div>
        <p>Descrição</p>
        <p>Texto da descrição aqui</p>

        <button>+</button>
    </main>
<%- include('../partials/footer') %>
