<%- include('../partials/header') %>
    <main>
        <% botoes.forEach(function(botao) { %>
            <button id="<%= botao.id %>" class="btnHome"><%= botao.nome %></button>
        <% }) %>


        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tabela-corpo">
                <% relatorios.forEach(function(relatorio) { %>
                    <tr>
                        <td></td>
                    </tr>
                <% }) %>
            </tbody>
        </table> 
    </main>
<%- include('../partials/footer') %>
